@import url('https://fonts.googleapis.com/css?family=Flamenco&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');
html {
    font-size: 62.5%;
    font-family: 'Inconsolata', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-weight: 700;
    line-height: normal;
    color: #8ada2f;
}

@media only screen and (max-width: 1200) {
    html {
        font-size: 56.25%;
    }
}

@media only screen and (max-width: 900) {
    html {
        font-size: 50%;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 45%;
    }
    .child1 {
        flex: 1;
        min-width: 100% !important;
        width: 100% !important;
        display: block;
        margin: 1.5rem !important;
    }
    .child2 {
        width: 100% !important;
    }
    .slider-wrapper {
        position: relative;
        width: 100% !important;
        margin: auto;
    }
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.trigger {
    display: none;
}

.slider-wrapper {
    padding-top: 0.7rem;
    position: relative;
    height: fit-content !important;
    width: 450px;
    margin: auto;
}

.slider {
    position: relative;
    height: 300px;
    width: 100%;
    margin: auto;
}

.slide {
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5000;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.slide-img {
    height: 100%;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.slide-figure {
    height: 100%;
    position: relative;
    margin: 0;
}

.slide-caption {
    position: absolute;
    bottom: 30%;
    width: calc(100% - 1rem);
    color: white;
    text-align: center;
    left: 50%;
}

.trigger:checked+.slide {
    z-index: 6000;
    opacity: 1;
}

.slider-nav {
    width: 100%;
    text-align: center;
    margin: 0.5rem;
}

.slider-nav__item {
    display: inline-block;
}

.slider-nav__label {
    font-size: 13px;
    background-color: #333;
    display: block;
    height: 2em;
    line-height: 2em;
    width: 2em;
    text-align: center;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: background-color .25s, color .25s ease-in-out;
}

.slider-nav__label:hover,
.slider-nav__label:active,
.slider-nav__label:focus {
    background-color: white;
    color: black;
}

details {
    margin: 0 0 0.6em 0;
}

details summary {
    display: inine-block;
    padding: 1.5rem;
    width: auto;
    letter-spacing: normal !important;
    font-size: 2rem;
    cursor: pointer;
    background: #fff linear-gradient(to bottom right, #fff, #fff);
    border: solid 1px #fff;
    text-shadow: 0 0 5px #C8C8C8;
    border-radius: 0.3em;
    color: midnightblue;
    user-select: none;
}

details summary .details-open-indicator {
    position: absolute;
    visibility: hidden;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary:before {
    content: "​​\25B6";
    float: left;
    margin-right: 0.5em;
    transform: rotate(0deg);
    transition: transform 0.3s ease-out;
}

details summary:after {
    content: "IIT@I:~$ sudo show details";
    float: right;
    opacity: 0;
    font-size: 0.8em;
    transition: opacity 0.8s;
}

details summary:hover:after {
    opacity: 0.7;
}

details summary:focus {
    outline: none;
}

details[open] summary {
    color: #101046;
    text-shadow: none;
    background: #fff;
    border-radius: 0.3em 0.3em 0 0;
}

details[open] summary:before {
    transform: rotate(90deg);
}

details[open] summary:after {
    content: "IIT@I:~$ sudo hide details";
}

details[open] article {
    border-radius: 0 0 0.3em 0.3em;
}

.parent {
    width: 100%;
    border: solid 3px #fff;
    border-top: none;
    background-image: linear-gradient(to right bottom, #300A24, #300A24);
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: justify;
    flex-wrap: wrap;
    padding: 1.5rem;
}

.child1 {
    flex: 1;
    min-width: 450px;
    font-size: 2rem;
    display: block;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.child2 {
    width: 480px;
    display: flex;
    border: solid 3px rgba(138, 218, 47, 0.3);
    background-image: linear-gradient(to bottom right, #8ada2f, #8ada2f);
}